body {
    background: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
header 
{
    background: brown;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 22px;
    font-weight:bolder;
}
.main 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.card 
{
    background: darkorange;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 600px;
    height:auto;
}
.card img {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
}
p
{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}
.btns 
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btns button 
{
    background:teal;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}
.footer 
{
    background: chartreuse;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    margin-top: 190px;
}
